/*=========== Peregrinaciones==========================*/
.contenido-home
  .contenido-general
    .conten-peregrinaciones
      .contenido
        .info
          .enlaces
            img
              margin: 0px auto !important
              display: block
              margin: 10px
              text-align: center
              border: 5px solid transparent
              width: 100%
          img
            margin: 0px auto !important
            display: block
            margin: 10px
            text-align: center
            border: 5px solid transparent
            width: 100%
          blockquote
            border-left: 5px solid $rojo2
          strong
            color: $azul2
          .size-large
            margin: 0px auto !important
            width: 100%
            height: auto
            text-align: center
          .aligncenter
            margin: 0px auto !important
            display: block
            margin: 10px
            text-align: center
          .size-full
            max-width: 100%
            margin: 10px 0px
          .alignleft
            float: left
            margin-top: 20px
            margin-right: 20px
            margin-bottom: 20px
          .alignright
            float: right
            margin-top: 20px
            margin-left: 20px
            margin-bottom: 20px        
/*==========================*/        
.contenido-home
  .contenido-general
    .conten-peregrinaciones
      .contenido
        border-bottom: 1px solid rgba($grisoscuro, 0.4)
        margin-bottom: 10px
        padding-bottom: 10px
        .title
          font-size: 1.5em
          font-family: 'Oswald', sans-serif
        .date-cat
          padding: 10px
          .fecha
            font-family: 'Oswald', sans-serif         
            font-size: 0.9em
            color: $azul
            .icon-date
              margin-right: 5px
              color: $rojo2
          .descripcion_categoria
            font-family: 'Oswald', sans-serif         
            font-size: 0.9em
            float: right
            text-align: right
            color: $azul
            .icon-file
              margin-right: 5px
              color: $rojo
        .thumb
          padding: 5px
        .info
          padding: 5px 10px 10px 10px
/*====================*/
.p-descripciones
  background-color: $tgris
  padding: 20px
  border: 1px solid $tgrisoscuro
h2.p-titulo
  font-size: 1.25em
  font-weight: bold
  color: $azul2
h2.p-itinerario
  text-align: center
  padding: 10px
  font-size: 1.125em
.p-recorrido
  padding: 2px
  line-height: 1.875em
.p-galeria
  color: $azul2
  padding: 2px
  font-size: 1.125em
  width: 100%
  .gallery
    .gallery-item
      text-align: center
      margin: 0px auto
      padding: 7px
      display: block
      img
        width: 100%
        height: auto
